#content {
  position: relative;
  height: 100vh;
}
.jarvislogo {
  position: absolute;
  top: 5px;
  right: 5px;
  max-height: 20vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 50vh;
}

.pos1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -200%);
}

.pos2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-250%, -50%);
}

.pos3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, 100%);
}

.pos4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
}

.pos5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, 100%);
}

.pos6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(150%, -50%);
}

.pos7 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, -200%);
}

.pos8 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
}
