<div id="content">
  <div class="md-headline pagetitle"></div>
  <img src="assets/jarvislogo.jpg" class="jarvislogo" />
  <md-button class="posfwd" ng-href="#!/circles"><img src="assets/dirbtn1.png" height="100px" /></md-button>
  
  <div class="table">
    <md-content style="height:100vh; scrollbar-width: none;" layout-padding>
      <md-list ng-cloak>

        <md-divider></md-divider>  
        <md-subheader class="md-no-sticky">Lights</md-subheader>
        <md-list-item class="secondary-button-padding" ng-repeat="item in viewpagebuttons.data | filter:{type: 'light'}">
          <p>{{ item.pagesname }} - {{ item.elementsname }}</p>
          <md-button class="md-fab md-mini md-raised" ng-click="send(item,'on',$event)"><i class="material-icons" style="color:green; font-size:36px" id="{{ item.elementsname }}">power_settings_new</i></md-button>
          <md-button class="md-fab md-mini md-raised" ng-click="send(item,'off',$event)"><i class="material-icons" style="color:red; font-size:36px" id="{{ item.elementsname }}">power_settings_new</i></md-button>
          <md-button class="md-fab md-mini md-raised" ng-show="item.hasdimmer" ng-click="send(item,'brighter',$event)"><i class="material-icons" style="color:yellow; font-size:36px" id="{{ item.elementsname }}">brightness_high</i></md-button>
          <md-button class="md-fab md-mini md-raised" ng-show="item.hasdimmer" ng-click="send(item,'dimmer',$event)"><i class="material-icons" style="color:gray; font-size:36px" id="{{ item.elementsname }}">brightness_low</i></md-button>
          <md-button class="md-fab md-mini md-raised" ng-show="item.hascolor" ng-click="send(item,'purple',$event)"><i class="material-icons" style="color:purple; font-size:36px" id="{{ item.elementsname }}">emoji_objects</i></md-button>
          <md-button class="md-fab md-mini md-raised" ng-show="item.hascolor" ng-click="send(item,'incandescent',$event)"><i class="material-icons" style="color:yellow; font-size:36px" id="{{ item.elementsname }}">emoji_objects</i></md-button>
          <md-button class="md-fab md-mini md-raised" ng-show="item.hascolor" ng-click="send(item,'white',$event)"><i class="material-icons" style="color:white; font-size:36px" id="{{ item.elementsname }}">emoji_objects</i></md-button>
        </md-list-item>

        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Plugs</md-subheader>
        <md-list-item class="secondary-button-padding" ng-repeat="item in viewpagebuttons.data | filter:{type: 'plug'}">
          <p>{{ item.pagesname }} - {{ item.elementsname }}</p>
          <md-button class="md-fab md-mini md-raised" ng-click="send(item,'on',$event)"><i class="material-icons" style="color:green; font-size:36px" id="{{ item.elementsname }}">power_settings_new</i></md-button>
          <md-button class="md-fab md-mini md-raised" ng-click="send(item,'off',$event)"><i class="material-icons" style="color:red; font-size:36px" id="{{ item.elementsname }}">power_settings_new</i></md-button>
        </md-list-item>

        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Fans</md-subheader>
        <md-list-item class="secondary-button-padding" ng-repeat="item in viewpagebuttons.data | filter:{type: 'fan'}">
          <p>{{ item.pagesname }} - {{ item.elementsname }}</p>
          <md-button class="md-fab md-mini md-raised" ng-click="send(item,'on',$event)"><i class="material-icons" style="color:green; font-size:36px" id="{{ item.elementsname }}">power_settings_new</i></md-button>
          <md-button class="md-fab md-mini md-raised" ng-click="send(item,'off',$event)"><i class="material-icons" style="color:red; font-size:36px" id="{{ item.elementsname }}">power_settings_new</i></md-button>
        </md-list-item>

        <md-subheader class="md-no-sticky">Custom</md-subheader>
        <md-list-item class="secondary-button-padding" ng-repeat="item in viewpagebuttons.data | filter:{type: 'custom'}">
          <p>{{ item.pagesname }} - {{ item.elementsname }}</p>
          <md-button class="md-secondary" ng-click="send(item,'custom',$event)"><i class="material-icons" style="color:green; font-size:36px" id="{{ item.elementsname }}">play_circle_outline</i></md-button>
        </md-list-item>

      </md-list>
    </md-content>
  </div>
</div>
