<div id="content">
  <div class="md-headline pagetitle">{{ page.name }}</div>
  <img src="assets/jarvislogo.jpg" class="jarvislogo" />
  <img src="assets/center.jpg" class="center" />
  <md-button id="button1" class="pos1" ng-show="button1 != null" ng-click="guess(button1, $event)"><img id="button1" src="assets/navbtn1.png" height="130px" /><span id="button1" class="posrighttext">{{ button1.elementsname }}</span></md-button>
  <md-button id="button2" class="pos2" ng-show="button2 != null" ng-click="guess(button2, $event)"><img id="button2" src="assets/navbtn2.png" height="130px" /><span id="button2" class="posrighttext">{{ button2.elementsname }}</span></md-button>
  <md-button id="button3" class="pos3" ng-show="button3 != null" ng-click="guess(button3, $event)"><img id="button3" src="assets/navbtn3.png" height="130px" /><span id="button3" class="posrighttext">{{ button3.elementsname }}</span></md-button>
  <md-button id="button4" class="pos4" ng-show="button4 != null" ng-click="guess(button4, $event)"><img id="button4" src="assets/navbtn4.png" height="130px" /><span id="button4" class="posrighttext">{{ button4.elementsname }}</span></md-button>
  <md-button id="button5" class="pos5" ng-show="button5 != null" ng-click="guess(button5, $event)"><img id="button5" src="assets/navbtn5.png" height="130px" /><span id="button5" class="posbottomtext">{{ button5.elementsname }}</span></md-button>
  <md-button id="button6" class="pos6" ng-show="button6 != null" ng-click="guess(button6, $event)"><span id="button6" class="poslefttext">{{ button6.elementsname }}</span><img id="button6" src="assets/navbtn6.png" height="130px" /></md-button>
  <md-button id="button7" class="pos7" ng-show="button7 != null" ng-click="guess(button7, $event)"><span id="button7" class="poslefttext">{{ button7.elementsname }}</span><img id="button7" src="assets/navbtn7.png" height="130px" /></md-button>
  <md-button id="button8" class="pos8" ng-show="button8 != null" ng-click="guess(button8, $event)"><span id="button8" class="poslefttext">{{ button8.elementsname }}</span><img id="button8" src="assets/navbtn8.png" height="130px" /></md-button>
  <md-button class="posback" ng-show="page.parentpagesid != null" ng-click="guess({type: 'page',destpagesid: page.parentpagesid}, $event)"><img src="assets/dirbtn1.png" height="100px" /></md-button>
  <md-button class="posfwd" ng-href="#!/bytype"><img src="assets/dirbtn1.png" height="100px" /></md-button>
</div>
