<div id="content" height="601px">
  <div class="md-headline pagetitle">DEACTIVATE</div>
  <a ng-href="#!/main"><img src="assets/jarvislogo.jpg" class="jarvislogo" /></a>
  <img src="assets/center.jpg" class="center" />

  <md-button class="pos1" ng-click="
      sendcommand('close the garage door');
      sendcommand('turn off everything in the kitchen');
      sendcommand('turn off everything in the basement');
      sendcommand('turn off everything in the backyard');
      sendcommand('turn off everything in the living room');
      sendcommand('turn on Todds light');
    "><img src="assets/navbtn1.png" height="130px" /><span class="posrighttext">Normal Night</span>
  </md-button>
  <md-button class="pos2" ng-click="
      sendcommand('close the garage door');
      sendcommand('turn off everything in the kitchen');
      sendcommand('turn off everything in the backyard');
      sendcommand('turn off everything in the living room');
      sendcommand('turn on Todds light');
    "><img src="assets/navbtn2.png" height="130px" /><span class="posrighttext">Not Basement</span>
  </md-button>
  <md-button class="pos3" ng-click="
      sendcommand('turn off everything in the house');
    "><img src="assets/navbtn3.png" height="130px" /><span class="posrighttext">Everything Down Hard</span>
  </md-button>

  <md-button class="posback" ng-href="#!/main"><img src="assets/dirbtn1.png" height="100px" /></md-button>
  <md-button class="posfwd" ng-href="#!/"><img src="assets/dirbtn1.png" height="100px" /></md-button>
</div>
